---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h2>Welcome to Astro!</h2>
		<p>
			To get started, check out the <a href="https://docs.astro.build">docs</a> or
			the <a href="https://astro.build/chat">community chat</a>.
		</p>
		<p>
			You can also check out the <a href="https://astro.build/blog">blog</a> for
			the latest news and updates.
		</p>
	</body>
</html>
