---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h2>Welcome to Astro!</h2>
		<p>
			To get started, check out the <a href="https://docs.astro.build">docs</a> or
			the <a href="https://astro.build/chat">community chat</a>.
		</p>
		<p>
			You can also check out the <a href="https://astro.build/blog">blog</a> for
			the latest news and updates.
		</p>
		<p>
			Or, if you want to see what Astro can do, check out the
			<a href="https://astro.build/showcase">showcase</a>.
		</p>
		<p>
			And if you want to see what other people are building with Astro, check out
			the <a href="https://astro.build/gallery">gallery</a>.
		</p>
		<p>
			<a href="https://www.google.com">
				<button>Home</button>
			</a>
		</p>
	</body>
</html>
